/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.lock
/nbproject/private/
/public.zip
public/public.zip
*.zip

!composer.lock
